body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

h1 {
    color: white;
    width: 358px;
    justify-content: center;
    margin: 0 580px;
    transform: translate(-55px,0);
}

h2 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
    font-size: 50px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background: black;
    margin: 0;
    padding: 15px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

div {
    display: inline-block;
    margin: auto;
}

section {
    display: flex;
}

/* Add a black background color to the top navigation bar */
.search {
    overflow: hidden;
    background-color: #ededed;
    border: black;
    width: 100%;
    text-align: left;
    display: inline-flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.search a {
    color: black;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 15px;
    display: inline-flex;
    width: 100%;
    margin: auto;
}

/* Change the color of links on hover */
.search a:hover {
    color: black;
}

/* Style the "active" element to highlight the current page */
.search a.active {
    color: white;
}

/* Style the search box inside the navigation bar */
.search input[type=text] {
    width: 1080px;
    height: 40px;
    border: none;
    margin: 15px;
    font-size: 18px;
}